
lucky-one/.dart_tool/
lucky-one/.idea/
lucky-one/build/
.idea/
lucky-one/.flutter-plugins-dependencies
lucky-one/android/.gradle/6.7/executionHistory/executionHistory.bin
lucky-one/android/.gradle/6.7/executionHistory/executionHistory.lock
lucky-one/android/.gradle/6.7/fileHashes/fileHashes.bin
lucky-one/android/.gradle/6.7/fileHashes/fileHashes.lock
lucky-one/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
lucky-one/build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
lucky-one/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/AssetManifest.json.jar
lucky-one/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
lucky-one/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/NOTICES.Z.jar
lucky-one/build/app/intermediates/flutter/debug/flutter_assets/AssetManifest.json
lucky-one/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
lucky-one/build/app/intermediates/flutter/debug/flutter_assets/NOTICES.Z
lucky-one/build/app/intermediates/flutter/debug/flutter_build.d
lucky-one/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
lucky-one/build/app/intermediates/merged_assets/debug/out/flutter_assets/AssetManifest.json
lucky-one/build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
lucky-one/build/app/intermediates/merged_assets/debug/out/flutter_assets/NOTICES.Z
lucky-one/build/app/outputs/apk/debug/app-debug.apk
lucky-one/build/app/outputs/flutter-apk/app-debug.apk
lucky-one/build/app/outputs/flutter-apk/app.apk
lucky-one/build/app/outputs/flutter-apk/app.apk.sha1
lucky-one/android/.gradle/buildOutputCleanup/outputFiles.bin
lucky-one/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
lucky-one/android/.gradle/6.7/fileHashes/fileHashes.lock
lucky-one/android/.gradle/6.7/fileHashes/fileHashes.bin
lucky-one/android/.gradle/6.7/executionHistory/executionHistory.lock
lucky-one/android/.gradle/6.7/executionHistory/executionHistory.bin
